body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* common styles end here and */
/* all styles starts from here */

.haad-banner{
    margin: 90px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 50px;
    background-color: black;
    
}
.banner-infos{
    padding: 30px;
    color: white;
}
.titles{
    padding: 50px;
    color: white;
}
.image{
    padding: 50px 50px 0px 50px;
}
.banner-infos h1{
    font-size: 50px;
    /* margin: 0px; */
}
.banner-infos a{
    text-decoration: none;
    color: white;
    background-color: #DD0000;
    padding: 6px;
    border-radius: 5px;
    transition: 0.5s;
}
.banner-infos a:hover{
    background-color: red;
}

/* banner part end */
/* middle navigations and news part start  */
.middle{
    display: flex;
    margin: 90px;
}

.navigations{
    margin: 0px 20px 20px 20px;
    width: 300px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    /* padding-top: 35px; */
    padding: 35px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.navigations a{
    text-decoration: none;
    text-align: center;
    border-radius: 6px;
    color: black;
    background-color: white;
    padding: 10px;
    width: 180px;
    transition: 0.3s;
}
.navigations a:hover{
    background-color: red;
    color: white;
}
.navigations .active{
    background-color: #DD0000;
    color: white;
}

/* navigagion end news part start  */


.all-news{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.all-news .news{
    border: 1px solid black;
    border-radius: 10px;
}

.news .newsimage img{
    width: 100%;
}
.all-news .news .second-page img{
    width: 130px;
}
.all-news .news .news-info{
    padding: 10px;
}

.all-news .news .news-info a{
    text-decoration: none;
    border: 1px solid black;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: whitesmoke;
    transition: 0.5s;
}
.all-news .news .news-info a:hover{
    background-color: cyan;
}
.all-news .news .news-info p{
    font-family: 'Indie Flower', cursive;
}
.news .news-info .post-reactions{

    display: flex;
    justify-content: space-between;
}
.news .news-info .post-reactions .different{
    color: blue;
}


/*----------------------------
 news part end footer start  
----------------------------*/

footer{
    background-color: black;
    color: white;
    padding: 50px 0px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.footer-items{
    display: flex;
}
.hrline{
    border-top: 1px solid white;
    padding-top: 20px;
}
footer a{
    text-decoration: none;
    color: white;
    margin-right: 30px;
}


/* .view{
    text-decoration: none;
    background-color: #DD0000;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 100px;
    margin-left: 750px;

} */



.second-page{
    display: flex;
    padding: 10px;
}
.second-page h2{
    padding: 5px;
}
.second-page .second-page-info{
    text-align: center;

}
.all-news .news .second-page-info{
    text-align: center;
}






















































































































































@media only screen and (max-width: 576px) {
    .haad-banner{
        grid-template-columns: repeat(1, 1fr);
    }
    .middle{
        flex-direction: column;
    }
    .all-news{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer{
        flex-direction: column;
    }
    .hrline{
        flex-direction: column;
    }
    .hrline a{
        margin-top: 15px;
    }
}


@media only screen and (min-width: 577px) and (max-width: 950px) {
    .middle{
        flex-direction: column;
    }
    .all-news{
        grid-template-columns: repeat(2, 1fr);
    }
    .navigations{
        flex-direction: row;
        height: 100px;
        width: 100%;
        background-color: transparent;
    }
    .navigations a{
        border: 1px solid black;
    }
}